@font-face{
    font-family: Victoria Melody;
    src: url('../../Assets/fonts/Victoria\ Melody.otf')
}
$bqcream: #FCFAE3;
$bqpink: #FF7BAC;
$bqgreen: #1EBC9E;
$btMenu: '../Assets/btnMenu.png';
$fontTitles: Victoria Melody;
@mixin container {
    border-radius: 10px;
    border: solid $bqgreen 5pt;
    background-color: $bqcream;
}
.MenuView {
    justify-content: space-evenly;
}
.order {
    height: fit-content;
}
.order, .indexMenu {
    height: 600px;
    margin-top: .8rem;
    padding: 0.5rem;
    @include container;
}
.btnOrder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contentTable {
    height: 220px;
    overflow: scroll;
}
.ant-pagination {
    display: none;
}
