$bqcream: #FCFAE3;
$bqpink: #FF7BAC;
$bqgreen: #1EBC9E;
$btMenu: '../Assets/btnMenu.png';
$fontTitles: Victoria Melody;
@mixin container {
    border-radius: 10px;
    border: solid $bqgreen 5pt;
    background-color: $bqcream;
}
.container {
    width: 910px;
    height: 650px;
    margin-top: 3em;
    margin-bottom: 4em;
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    padding: 3em;
}
nav{
    width: 90%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em 0em;
}
li{
    position: relative;
    list-style: none;
}




