$fontTitles: Victoria Melody;

button{
    width: 210px;
    height: 90px;
    background: none;
    border: none;
    font-family: $fontTitles;
    font-size: 48pt;
    color: white;
    line-height: 0px;
}