$bqcream: #FCFAE3;
$bqpink: #FF7BAC;
$bqgreen: #1EBC9E;
$btMenu: '../src/Assets/btnMenu.png';

.app {
    width: 100%;
    height: 768px;
    
    background-image: url('../src/Assets/background.png');
  }